---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
---

<Layout title="Url Shorty">
	<main>
		<Form />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
