---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Iniciar sesión">
	<Header />
	<div class="relative isolate px-6 pt-14 lg:px-8">
		<div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
			<div class="text-center">
				<h1 class="text-4xl font-bold tracking-tight text-amber-300 sm:text-6xl">Simplifica tu ruta</h1>
				<p class="mt-6 text-lg leading-8 text-white">URL SHORTY, la herramienta que transforma enlaces largos en atajos elegantes. Redefine la manera en que compartes y navegas en la web. Con URL SHORTY, cada enlace es un camino directo a la eficiencia online.</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<a href="/signin" class="rounded-md bg-cyan-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">¡Hacerlo Ahora!</a>
				</div>
			</div>
		</div>
	</div>
</Layout>
